@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-down {
  animation: slide-down 0.5s ease-out forwards;
}
.animate-slide-right {
  animation: slide-right 0.5s ease-out forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(0);
  }
}

@layer base { img { display: initial; } }

/* remove the increment and decrement button from number input */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Hide spinner in Firefox */
}