@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-down {
  animation: slide-down 0.5s ease-out forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
